.card {
    max-width: 400px;
  }
.card-display{
    display:flex;
    justify-content: space-around;
}

.cursor{
    cursor:pointer;
}


.matContainer {
    /* width: 400px; */
    height: 100%;
    margin: 10px;
    /* border: 1px solid #555; */
  }

  .matDrawer{
    width: 20%;
  }

  .drawerContent{
    margin:15%
  }

  .addEvent{
    display: flex;
    justify-content: end;
    cursor: pointer;
  }

  .header{
    justify-content: space-between;
  }