<mat-toolbar color="primary" class="header" >
    <div class="cursor" (click)="goHome()">NGO</div>
    <button *ngIf="loginService.isLoggedIn()" class="btn btn-danger"  (click)="loginService.logout()">Logout</button> 

  </mat-toolbar>
  <h1 *ngIf="event">{{event.eventName | titlecase}}</h1>


    <mat-form-field class="matSize" *ngIf="event" appearance="fill">
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>        
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Fill out your Email</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>@Email</mat-label>
                <input matInput type="email" placeholder="Email" formControlName="firstCtrl" required>
              </mat-form-field>
              <div>
              <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Contact Number</ng-template>
                  <mat-form-field appearance="fill">
                    <mat-label>Number</mat-label>
                    <input matInput type="number" placeholder="Number" formControlName="firstCtrl" required>
                  </mat-form-field>
                  <div>
                  <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
          </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Address</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Total Adult Quantity</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Amount</mat-label>
                <input matInput type="number" placeholder="Amount" formControlName="firstCtrl" required>
              </mat-form-field>
              <div>
              <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Total Child Quantity</ng-template>
              <mat-form-field appearance="fill">
                <mat-label>Amount</mat-label>
                <input matInput type="number" placeholder="Amount" formControlName="firstCtrl" required>
              </mat-form-field>
              <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="goHome()">Submit</button>

          </div>
        </mat-step>
      </mat-stepper>
    </mat-form-field>
